version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: pms_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: team_management
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  be:
    build: .
    container_name: pms_backend
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.docker
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/usr/src/app/uploads

volumes:
  db_data:
